* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hammersmith One', sans-serif;
}

*:focus {
    outline: none !important;
}

/* navbar */

.container {
    height: 90%;
}

.container::before {
    content: "";
    background: url(https://source.unsplash.com/collection/190727/1600x900) no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 520px;
    z-index: -1;
    opacity: .7;
}

header {
    display: flex;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 2;
}

.ham {
    position: fixed;
    width: 80px;
    height: 50px;
    top: 13px;
    left: 7px;
    background: transparent;
    border: none;
    display: none;
    cursor: pointer;
}

.ham span, .ham span::before, .ham span::after {
    width: 40px;
    height: 3px;
    background: #000;
    position: absolute;
    top: 1.5rem;
    left: 1rem;
}

.ham span::before {
    content: "";
    top: .5rem;
    left: 0rem;
}

.ham span::after {
    content: "";
    top: -.5rem;
    left: 0rem;
}

.ham.closebtn span {
    background: transparent;
}

.ham.closebtn span::before {
    transform: rotate(-45deg);
    top: 0;
    position: absolute;
    background: #fff;
}

.ham.closebtn span::after {
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    background: #fff;
}

/* sidebar menu */

.sidebar {
    width: 26%;
    height: 100vh;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 500ms ease-in-out;
    display: none;
}

.sidebar_hide {
    transform: translateX(0%);
}

.sidebar ul {
    margin-top: 80px;
}

.sidebar ul li {
    list-style: none;
    border-bottom: 1px solid #fff;
}

.sidebar ul li a {
    padding: 1.2rem 2rem;
    text-decoration: none;
    display: block;
    color: #fff;
}

/* navbar */

.nav {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    text-shadow: 2px 2px 3px white;
    align-items: center;
}

.nav li {
    list-style: none;
}

.nav li a {
    text-decoration: none;
    color: black;
    font-size: 19px;
    padding: .5rem 1.5rem;
}

.nav li a:hover {
    background: #000;
    color: white;
    border-radius: 23px;
    text-shadow: 0 0;
    cursor: pointer;
}

.add:hover {
    background: #000;
    color: #fff;
    border-radius: 23px;
}

.btn {
    padding: .5rem 1rem;
    background: black;
    color: white;
    font-size: 19px;
    border-radius: 6px;
    border: 2px solid black;
}

header .btn {
    position: absolute;
    top: 1rem;
    right: 2rem;
}

.btn:hover {
    background: white;
    color: black;
    cursor: pointer;
}

/* jqyery class */

.class1 {
    color: #fff !important;
    text-shadow: 0 0;
}

.btnsticky {
    background: white !important;
    color: black !important;
}

.hamsrl span {
    background: #fff;
}

.hamsrl span::before {
    background: #fff;
}

.hamsrl span::after {
    background: #fff;
}

/* banner */

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 8rem
}

.main {
    height: 150px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 45px;
    text-shadow: 2px 2px 3px white;
    text-align: center;
}

.banner p {
    padding: 1rem;
    margin: auto;
    display: block;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    font-weight: 600;
}

.banner .btn {
    width: 150px;
    margin: 2rem auto 0;
    text-align: center;
    font-size: 20px;
}

/* our-services section */

.section {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 7rem;
    margin-bottom: 1rem;
    text-align: center;
}

.section2 {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 2rem;
    text-align: center;
}

.grid, .grid2 {
    display: grid;
    grid-gap: 1rem;
    grid-template-areas: 'a b c' 'd e f' 'g h i';
    margin: 0 2rem;
}

.item {
    border: 2px solid black;
    border-radius: 23px;
    padding: 2rem 1rem;
    text-align: center;
}

#a {
    grid-area: a;
}

#b {
    grid-area: b;
}

#c {
    grid-area: c;
}

#d {
    grid-area: d;
}

#e {
    grid-area: e;
}

#f {
    grid-area: f;
}

#g {
    grid-area: g;
}

#h {
    grid-area: h;
}

#i {
    grid-area: i;
}

.item img {
    width: 170px;
}

.item h2 {
    padding: 1rem 0;
}

.item p {
    font-family: 'Varela Round', sans-serif;
}

/* footer */

footer {
    background: #000;
    color: white;
    padding: 3rem 5rem;
    margin-top: 2rem;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}

.box {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.box span {
    padding-top: 1.3rem;
}

.box p {
    display: inline;
}

.add, .numb, .mail {
    display: flex;
}

span a {
    color: white;
    padding-right: 1rem;
    font-size: 21px;
}


.rights{
    padding: .4rem;
    text-align: center;
}
/* media query */

/* MQ for max-width 1200px */

@media (max-width:1200px) {
    .container::before {
        height: 460px;
    }
    .section {
        margin-top: 3rem;
    }
}

/* MQ for max-width 992px */

@media (max-width:992px) {
    .container::before {
        height: 485px;
    }
    .nav {
        width: 65%;
    }
    .section2 {
        margin-top: 0;
    }
    footer {
        padding: 3rem 3rem 1.5rem;
        flex-wrap: wrap;
    }
    .box {
        width: 40%;
    }
    footer>:first-child {
        order: 3;
        display: flex;
        flex-direction: column;
        margin: auto;
        padding-top: 2rem;
    }
    .box span {
        padding-top: .7rem;
    }
}

/* MQ for max-width 768px */

@media (max-width:768px) {
    .nav {
        display: none;
    }
    .ham, .sidebar {
        display: block;
    }
    .section2 {
        margin-bottom: 1rem;
    }
}

/* MQ for max-width 713px */

@media (max-width:713px) {
    .container::before {
        height: 505px;
    }
    #a img, #b img, #c img {
        width: 100px;
    }
    .grid2 {
        grid-template-areas: 'd e' 'f g' 'h i';
    }
}

/* MQ for max-width 557px */

@media (max-width:557px) {
    .container::before {
        height: 525px;
    }
    .sidebar {
        width: 33%;
    }
    .grid {
        grid-template-areas: 'a b' 'c c';
    }
    .section2 {
        margin-top: 1.5rem;
    }
    footer {
        padding: 1.5rem 1.8rem;
    }
    footer>:first-child {
        width: 100%;
        margin: 0;
    }
}

/* MQ for max-width 476px */

@media (max-width:476px) {
    .sidebar {
        width: 50%;
    }
    .item img {
        width: 127px;
    }
    .item p {
        font-size: 13px;
    }
    .section, .section2 {
        font-size: 22px;
    }
    .grid {
        grid-template-areas: 'a b' 'c c';
    }
    footer {
        flex-direction: column;
        padding: 0 3rem 2rem;
    }
    .box {
        width: 100%;
        padding: 2rem 0 1rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.609);
    }
}

/* MQ for max-width 459px */

@media (max-width:459px) {
    .container::before {
        height: 543px;
    }
    .grid, .grid2 {
        grid-template-areas: 'a' 'b' 'c' 'd' 'e' 'f' 'g' 'h' 'i';
    }
    .section2 {
        margin-top: -4rem;
        margin-bottom: -2rem;
    }
}

/* MQ for max-width 393px */

@media (max-width:393px) {
    .container::before {
        height: 525px;
    }
    .btn {
        padding: .4rem .6rem;
    }
    .banner p {
        font-size: 14px;
    }
}

/* MQ for max-width 346px */

@media (max-width:346px) {
    .container::before {
        height: 540px;
    }
}

@media (max-width:320px) {
    .container::before {
        height: 556px;
    }
}