.p-data {
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 3px;
  text-align: center;
}
.profile-img {
  width: 150px;
  height: 150px;
  margin: auto;
}

.line {
  width: 100%;
  border-bottom: 1px solid var(--main);
}

/* modal  */
.modal-content .modal-body{
  padding: 1rem 4rem;
}
.edit {
  text-align: center;
}
.edit-img {
  width: 150px;
  height: 150px;
  margin: auto;
}

.c-profile{
  display: flex;
  justify-content: space-evenly;
  width: 150px;
  margin: auto;
}
.edit-info label {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}
.edit-info span {
  font-weight: bold;
  text-align: left;
  padding: 5px;
}
.edit-info label input,
.edit-info label textarea {
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  padding: 4px 10px;
}
/* modal  */

label input[type="button"] {
  background: none;
  width: 100%;
  text-align: left;
}

#collapseExample .card label {
  flex-direction: row;
  margin-top: 0;
}

#collapseExample .card label input {
  margin: 6px 7px 0 0;
}
/* media-query */
@media screen and (min-width: 768px) {
  .p-data {
    display: flex;
    align-items: flex-end;
    text-align: left;
  }
  .profile-img {
    margin: 0;
  }
  .info {
    padding-left: 1rem;
  }
  .button {
    margin-top: 0;
    margin-left: auto;
  }

  /* modal  */
  .modal-content .modal-body{
    padding: 1rem;
  }
  .edit-info {
    padding: 0 3rem;
  }
  .edit-info label {
    flex-direction: row;
    justify-content: space-around;
  }
  .edit-info label span {
    width: 40%;
    text-align: right;
    padding: 5px 15px;
  
  }
  .edit-info label input,
  .edit-info label textarea {
    width: 75%;
  }
  .card-body {
    width: 55%;
    margin-left: auto;
    margin-right: 0.3rem;
  }
  label input[type="date"] {
    padding: 4px 17px;
  }
  #collapseExample .card label {
    justify-content: left;
  }
  .modal-content .modal-footer {
    padding: 1rem 4rem;
  }
}
